main {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    color: blanchedalmond;
    background-color: #343a40;
}
body {
    background-color: #343a40 !important;
}

.row {
    background-color: #343a40;
}
html {
    background-color: #343a40;
}

#Tedtotal {
    background-color: lightgrey;
    color: black;
    font-weight: bold;
    text-align: center;

}